matplotlib
numpy
torch
google-genai
openai
mistralai<2
anthropic
python-dotenv

jupyter-book==0.15.1
sphinx-book-theme==1.0.1
pydata-sphinx-theme==0.15.4
sphinx-proof
sphinx-togglebutton
sphinxcontrib-bibtex==2.5.0
myst_nb

git+https://github.com/johsieders/sandbox.git@main#subdirectory=sandbox/math4phys
